{% extends 'main/wrapper.html' %}
{% load static %}
{% block title %} Сегментация {% endblock %} 
{% block content %}

<div class="main"> 
    <div class="download-container"> 
        <form method="post" enctype="multipart/form-data" action="/"> 
            {% csrf_token %}
            <label for="id_image">Изображение:</label> <input type="file"  class="inline" name="image" accept="image/*" required id="id_image">
            <label for="id_image_verify">Изображение для проверки:</label> <input type="file"  class="inline" name="image_verify" accept="image/*" required id="id_image_verify">
            <button type="submit" class ="my-button inline"> Загрузить изображение </button>
        </form> 
    </div>

    <div class="manage-container"> 
        <!-- Если изображение уже загружено -->
        {% if is_download_img %}
        <form action="segmentation" method="post" class="inline">
            {% csrf_token %}
            <input class="hidden"   id="object_pixels" name="object_pixels" value="">
            <input class="hidden"  id="background_pixels" name="background_pixels" value="">
            <input class="input_data" type="number" step="0.01" id="lyambda" name="lyambda" value=""  placeholder="Лямбда">
            <input class="input_data" type="number"  step="0.01" id="sigma" name="sigma" value="" placeholder="Сигма">
            <label class="switch inline">
                <input id ="is_eight_neighbors" name="is_eight_neighbors" class="inline" name="lamda"  type="checkbox" onclick=changespan_is_eight_neighbors()> 
                <span class="slider round"></span>
            </label>
            <span id="type_of_choose_is_neighbors">
                Четыре соседа
            </span>
            
            {% if not after_first_launch %}
            <input type="submit"  onclick=normalization() class ="my-button" value="Запуск алгоритма">
            {% endif %}
        </form>
        <form action="\" method="post" class="inline">
            {% csrf_token %}
            <input type="submit" class ="my-button inline" value ="Сброс" onclick=dropping()>
        </form>
        <label class="switch inline">
            <input id ="type_of_pixels" class="inline" type="checkbox" onclick=changespan_type_of_pixels()> 
            <span class="slider round"></span>
        </label>
        <span id="type_of_choose_pixels">
            Выбор пикселей объекта 
        </span>
       
        {% if can_be_interactive_segmentation %}
        <form action="interactive_segmentation" method="post" class="inline">
            {% csrf_token %}
            <input class="hidden" id="new_object_pixels" name="new_object_pixels" value="">
            <input class="hidden" id="new_background_pixels" name="new_background_pixels" value="">
            <input type="submit" class ="my-button" value="Улучшить сегментацию">
        </form>
        {% endif %}
    </div>
    
    <div class="screen">
            <canvas id=canvas width=600vmax height=600vmax></canvas>
            <canvas id=pixel_canvas width="400" height="400" ></canvas>
            <canvas id=result_canvas></canvas>
    </div>
</div>

<script type="text/javascript">
    
    </script>


    <script>
        let flag = false, currX = 0, currY = 0, dot_flag = false;
        const x = "black", y = 2;
        const canvas = document.getElementById("canvas");
        const context = canvas.getContext("2d");
        const pixel_canvas = document.getElementById("pixel_canvas");
        const pixel_context = pixel_canvas.getContext("2d");
        const image = new Image();
        image.src="/media/{{ img }}";
        image.crossOrigin = 'anonymous';
        let width, height;
        let object_pixels = [], background_pixels = [];
        let is_background;
        const result = document.getElementById("result_canvas");
        const result_context = result.getContext("2d");
        let ratio, hRatio, vRatio;
        const yellow='#fde910';
        const violet='#a000a0';
        const screenWidth = window.screen.width
        const screenHeight = window.screen.height
        
        function changespan_type_of_pixels(){
            if (document.getElementById('type_of_pixels').checked) document.getElementById("type_of_choose_pixels").textContent='Выбор пикселей фона';
            else document.getElementById("type_of_choose_pixels").textContent='Выбор пикселей объекта';
        };
        function changespan_is_eight_neighbors(){
            if (document.getElementById('is_eight_neighbors').checked) document.getElementById("type_of_choose_is_neighbors").textContent='Восемь соседей';
            else document.getElementById("type_of_choose_is_neighbors").textContent='Четыре соседа';
        };

        function init() {
                pixel_canvas.addEventListener("mousemove", function (e) {
                    findxy('move', e)
                }, false);
                pixel_canvas.addEventListener("mousedown", function (e) {
                    findxy('down', e)
                }, false);
                pixel_canvas.addEventListener("mouseup", function (e) {
                    findxy('up', e)
                }, false);
                pixel_canvas.addEventListener("mouseout", function (e) {
                    findxy('out', e)
                }, false);
            }
        function findxy(res, e) {
            if (res === 'down') {
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
        
                flag = true;
                dot_flag = true;
                if (dot_flag) {
                    if (is_pixels_correct(currX,currY)){
                        if (document.getElementById('type_of_pixels').checked) {
                            draw(currX,currY,violet,y);
                            post(currX, currY, 'object_pixels', 'background_pixels');
                            post(currX, currY, 'new_object_pixels', 'new_background_pixels');
                        }
                        else {
                            draw(currX,currY,yellow,y);
                            post(currX, currY, 'object_pixels', 'background_pixels');
                            post(currX, currY, 'new_object_pixels', 'new_background_pixels');
                        }
                    }  
                    dot_flag = false;
                }
            }
            if (res === 'up' || res === "out") {
                flag = false;
            }
            if (res === 'move') {
                if (flag) {
                    currX = e.clientX - canvas.offsetLeft;
                    currY = e.clientY - canvas.offsetTop;
                    if (is_pixels_correct(currX,currY)){
                        if (document.getElementById('type_of_pixels').checked){
                            draw(currX,currY,violet,y)
                            post(currX, currY, 'object_pixels', 'background_pixels')
                            post(currX, currY, 'new_object_pixels', 'new_background_pixels')
                        }
                        else{
                            draw(currX,currY,yellow,y);
                            post(currX, currY, 'object_pixels', 'background_pixels')
                            post(currX, currY, 'new_object_pixels', 'new_background_pixels')
                        }
                    }  
                }
            }
        }
        function draw(currX,currY,color,size){
            pixel_context.beginPath();
            pixel_context.fillStyle = color;
            pixel_context.arc(currX,currY, 5, 0, 2 * Math.PI);
            pixel_context.closePath();
            pixel_context.lineWidth = size;
            pixel_context.fill();   
        }
        function post(currX, currY, id_field_object, id_field_background){
            if (document.getElementById('type_of_pixels').checked) document.getElementById(id_field_background).value+=Math.floor(currY/ratio)+','+Math.floor(currX/ratio)+',';
                else document.getElementById(id_field_object).value+=Math.floor(currY/ratio)+','+Math.floor(currX/ratio)+',';
        }
        function is_pixels_correct(currX, currY){
            return !(currX<0 || currX>width-1 || currY>height-1 || currY<0)
        }
    
        // Когда картинка загрузилась, масштабируем её под канвас
        image.onload=function(){
            hRatio = canvas.width  / image.width;
            vRatio =  canvas.height / image.height;
            ratio  = Math.min ( hRatio, vRatio );
            width = image.width*ratio;
            height = image.height*ratio;
            context.clearRect(0,0,canvas.width, canvas.height);
            canvas.width = width;
            canvas.height = height;
            pixel_canvas.width = width;
            pixel_canvas.height = height; 
            context.drawImage(image, 0,0, width, height); 
            const imgData = context.getImageData(0, 0, canvas.width, canvas.height);
            for (let i = 0; i < imgData.data.length; i += 4) {
                let count = imgData.data[i] * 0.2989 + imgData.data[i + 1] * 0.5870 + imgData.data[i + 2] * 0.1140

                imgData.data[i] = count
                imgData.data[i + 1] = count
                imgData.data[i + 2] = count
            }
            context.putImageData(imgData, 0, 0);

            // Окно результата
            if ('{{ result_img }}'=== 'media/imagesresult/imgresult.jpeg'){
                const image_result = new Image();
                image_result.src='{{ result_img }}';
                image_result.onload=function(){    
                    result_context.drawImage(image_result, 0,0, width, height); 
                    result_context.fill();
                }
            }
            result.width = width;
            result.height = height;

            const object_pixels_add = "{{ object_pixels }}";
            const background_pixels_add = "{{ background_pixels }}";
            const object_pixels_save = "{{ object_pixels }}".split(' ');
            const background_pixels_save = "{{ background_pixels }}".split(' ');
            if (object_pixels_add !== "" || background_pixels_add!== "" ){
                for (let i = 0; i < object_pixels_save.length-1 ; i+=2){
                    draw(Math.round(ratio*Number(object_pixels_save[i+1])), Math.round(ratio*Number(object_pixels_save[i])),yellow,y);
                }
                for (let i = 0; i < background_pixels_save.length-1; i+=2){
                    draw(Math.round(ratio*Number(background_pixels_save[i+1])), Math.round(ratio*Number(background_pixels_save[i])),violet,y)
                }
            }
            init()
        } 

        function init() {
        pixel_canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        pixel_canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        pixel_canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvpixel_canvasas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }
    
             
        // При нажатии на холст рисуем кружочки
        // pixel_canvas.onclick=function(e){
        //     alert(e.clientX);


        // }

        function choose_pixel(e,pixels,color){
            let y;
            let x;
            let pushable = true;
            // для совместимости с другими браузерами
            if(e.offsetX===undefined) {
                x = e.pageX-$(canvas).offset().left;
                y = Math.round(e.pageY-$(canvas).offset().top);
            } 
            else {
                x = e.offsetX;
                y = e.offsetY;
            }
            //Если нажал внутрь существующего кружочка, удаляем его
            for (let i = 0; i < pixels.length ; i++){
                if (Math.sqrt(Math.pow(x-pixels[i][0]*ratio, 2)+Math.pow(y-pixels[i][1]*ratio, 2))<=radius){
                    pixel_context.clearRect(0,0,canvas.width, canvas.height);
                    pixels[i] = pixels[pixels.length - 1];
                    pixels.length--;
                    i--;
                    pushable = false;
                }
            }
            if(pushable){
                pixels.push([Math.round(x/ratio),Math.round(y/ratio)]);
                circle(x,y,radius,color);
            }
            else {
                for (let i = 0; i < object_pixels.length ; i++){
                    circle(ratio*object_pixels[i][0],ratio*object_pixels[i][1],radius,red);
                }
                for (let i = 0; i < background_pixels.length ; i++){
                    circle(ratio*background_pixels[i][0],ratio*background_pixels[i][1],radius,green);
                }

            }   
        }
        function dropping(){
            $.ajax({
                url: 'http://127.0.0.1:8000/dropping',
                type: 'POST',
                headers: {
                "X-CSRFTOKEN": "{{ csrf_token }}"
                }
            }).done(function(response){
           console.log(response);});
           pixel_context.clearRect(0,0,canvas.width, canvas.height);
            document.getElementById('object_pixels').value=' ';
            document.getElementById('background_pixels').value=' ';
            object_pixels=[]; 
            background_pixels=[];
        }
        
        
</script>
{% endif %}
{% endblock %}
