*{
  font-family: 'Kaushan Script';
    letter-spacing: 1px;
}
#canvas, #pixel_canvas{
    position:absolute;
    right: 50%;
    top:20%;
    border: 2px solid black;
}
#result_canvas{
    position:absolute;
    left: 50%;
    top:20%;
    border: 2px solid black;
    border-left: 0px;
}
.inline{
    display: inline-block;
    vertical-align: middle;
}

.download-container {
    position:absolute;
    top:7%;
    left: 23%;
    
  }
.manage-container {
    position: absolute;
    top:13%;
    left: 18.6%;
}
.input_data{
  padding: 10px 5px;
}

/* КНОПКИ */
.my-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 30px;
  margin: 10px 20px;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  outline: none;
}
.my-button:hover {
  background: #636363;
  box-shadow: 0 15px 20px rgba(199, 199, 199, 0.1);
  color: white;
}

.hidden{
  display: none;
}

/* СЛАЙДЕР */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #636363;
}

input:focus + .slider {
box-shadow: 0 0 1px #636363;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

